
airflow.cfg
airflow.db
logs/
docker-compose.override.yml

*.pyc
__pycache__/

.venv/
venv/
env/
ENV/

*.log
docker-compose.override.yml
docker-compose*.yml

.ipynb_checkpoints/

.vscode/

.idea/

.env

.DS_Store
